mixin gallery(data1, data2)  
  section.gallery
    ul.row
      each item in data1
        +thumbnail(item)
    ul.row
      each item in data2
        +thumbnail(item)

mixin thumbnail(item)
  a(href=item.url)
    .thumbnail
      img(src=item.images[0])
      div.overlay
        div.caption
          span.title= item.title
          if item.role
            span= ' | ' + item.role
          else
            span= ' | design'

mixin project(item)
  div.content.cf
    div.main-image
      img(src=item.images[0])
      div.description
        h2= item.title
        span= item.description
    ul.images
      - for(var i = 1; i < item.images.length; i++ )
        li.project-image
          img(src=item.images[i]) 