mixin gallery(data1, data2)  
  div.hide-scroll-outer
    section.gallery
      ul.row
        each item in data1
          +thumbnail(item)
      ul.row
        each item in data2
          +thumbnail(item)
      div.gallery-left
        +downCaret()
      div.gallery-right
        +downCaret()

mixin thumbnail(item)
  a(href=item.url)
    .thumbnail
      img(src=item.images[0])
      div.overlay
        div.caption
          span.title= item.title
          if item.role
            span= ' | ' + item.role
          else
            span= ' | design'

mixin project(item)
  div.content.cf
    div.main-image
      img(src=item.images[0])
      div.description
        .title= item.title
        span= item.description
        .close-icon x
      .info-icon.fade-out i
    ul.images
      - for(var i = 1; i < item.images.length; i++ )
        li.project-image
          img(src=item.images[i])

mixin downCaret()
  | <svg version="1.1" viewBox="0 0 50 50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect fill="none" height="50" width="50"/><polygon points="47.25,15 45.164,12.914 25,33.078 4.836,12.914 2.75,15 25,37.25 "/></svg>